.social {
  display: inline-block;
  vertical-align: middle;
  &__item {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    &:not(:last-child) {
      margin-right: 13px;
    }
    &:hover {
      background-color: @green;
    }
    background: white no-repeat center;
    background-size:20px 20px;
    &--linkedin {
      background-image: url(img/social/linkedin12.svg);
    }
    &--facebook {
      background-image: url(img/social/facebook55.svg);
    }
    &--flickr {
      background-image: url(img/social/socialnetwork340.svg);
    }
    &--twitter {
      background-image: url(img/social/twitter1.svg);
    }
  }
}