@mobile: ~ "(max-width: 767px)";
@tablet: ~ "(min-width: 768px)";
@desktop: ~ "(min-width: 940px)";

@green:#65ba99;

.lcw() {
  max-width:940px;
  margin: 0 auto;
}

* {
  
}

body {
  margin: 0;
  font-family: BebasNeue, sans-serif;
}

@import "header.less";
@import "page-nav.less";
@import "social.less";
@import "portfolio.less";

@font-face {
  font-family: BebasNeue; 
  src: url("font/BebasNeue Regular.ttf"); 
 }