* {
  transition: all .3s;
}
body {
  margin: 0;
  font-family: BebasNeue, sans-serif;
}
.page-header {
  height: 500px;
  background: url(img/header-bg.jpg) no-repeat center;
  background-size: cover;
}
.page-header__wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 125px 60px 150px;
}
.page-header__wrapper h1,
.page-header__wrapper h2 {
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
}
.page-header__wrapper h1 {
  font-size: 90px;
  width: 300px;
  line-height: 70px;
}
.page-header__wrapper h2 {
  font-size: 36px;
}
.page-nav {
  background: #252222;
}
.page-nav__wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 30px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-nav__logo {
  color: white;
  font-size: 48px;
  width: 140px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}
.page-nav__logo:hover {
  color: #65ba99;
}
.page-nav__container {
  display: inline-block;
  vertical-align: middle;
}
.page-nav__item {
  font-size: 18px;
  color: white;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  position: relative;
}
.page-nav__item::before {
  content: '';
  display: none;
  width: 100%;
  height: 1px;
  background: #65ba99;
  position: absolute;
  top: 100%;
  left: 0;
}
.page-nav__item:hover {
  color: #65ba99;
}
.page-nav__item:hover::before {
  display: block;
}
.social {
  display: inline-block;
  vertical-align: middle;
}
.social__item {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white no-repeat center;
  background-size: 20px 20px;
}
.social__item:not(:last-child) {
  margin-right: 13px;
}
.social__item:hover {
  background-color: #65ba99;
}
.social__item--linkedin {
  background-image: url(../img/social/linkedin12.svg);
}
.social__item--facebook {
  background-image: url(../img/social/facebook55.svg);
}
.social__item--flickr {
  background-image: url(../img/social/socialnetwork340.svg);
}
.social__item--twitter {
  background-image: url(../img/social/twitter1.svg);
}
.portfolio {
  padding: 60px 0 100px;
  background-color: #65ba99;
}
.portfolio h2 {
  font-size: 48px;
  text-align: center;
  margin: 0;
  color: white;
  margin-bottom: 15px;
}
.portfolio h3 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  color: white;
  margin-bottom: 50px;
}
.portfolio__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  max-width: 940px;
  margin: 0 auto;
}
.portfolio__item {
  height: 240px;
  width: 25%;
  background: grey no-repeat center;
  background-size: cover;
  position: relative;
}
.portfolio__item:hover .portfolio__mask {
  opacity: 1;
}
.portfolio__item-1 {
  background-image: url(../img/portfolio/1.jpg);
}
.portfolio__item-1 {
  background-image: url(../img/portfolio/1.jpg);
}
.portfolio__item-2 {
  background-image: url(../img/portfolio/2.jpg);
}
.portfolio__item-3 {
  background-image: url(../img/portfolio/3.jpg);
}
.portfolio__item-4 {
  background-image: url(../img/portfolio/4.jpg);
}
.portfolio__item-5 {
  background-image: url(../img/portfolio/5.jpg);
  width: 50%;
}
.portfolio__item-6 {
  background-image: url(../img/portfolio/6.jpg);
}
.portfolio__item-7 {
  background-image: url(../img/portfolio/7.jpg);
}
.portfolio__item-8 {
  background-image: url(../img/portfolio/8.jpg);
}
.portfolio__item-9 {
  background-image: url(../img/portfolio/9.jpg);
}
.portfolio__item-10 {
  background-image: url(../img/portfolio/10.jpg);
  width: 50%;
}
.portfolio__mask {
  position: absolute;
  background-color: rgba(101, 186, 153, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
}
.portfolio__link {
  display: inline-block;
  width: 25%;
  height: 25%;
  background: no-repeat center;
}
.portfolio__link:hover:not(:first-child) {
  background-color: rgba(0, 0, 0, 0.2);
}
.portfolio__link--zoom {
  width: 100%;
  height: 75%;
  background-image: url(../img/portfolio/mask/zoom.svg);
  background-position: 50% 75%;
}
.portfolio__link--polaroid {
  background-image: url(../img/portfolio/mask/polaroid.svg);
}
.portfolio__link--link {
  background-image: url(../img/portfolio/mask/link.svg);
}
.portfolio__link--info {
  background-image: url(../img/portfolio/mask/info.svg);
}
.portfolio__link--like {
  background-image: url(../img/portfolio/mask/like.svg);
}
.testimonial {
  background: url(../img/testimonial-bg.jpg) no-repeat center;
  background-size: cover;
}
.testimonial__wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 120px 0 40px;
}
.testimonial__item {
  color: white;
  margin: 0;
  width: 680px;
  margin: 0 auto;
  position: relative;
}
.testimonial__item::before {
  content: '“';
  position: absolute;
  font-size: 100px;
  top: -30px;
  left: -40px;
}
.testimonial__item::after {
  content: '“';
  position: absolute;
  font-size: 100px;
  bottom: 40px;
  right: -30px;
  transform: rotate(180deg);
}
.testimonial__text {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 45px;
}
.testimonial__author {
  font-size: 24px;
  text-align: right;
}
.news {
  background-color: #cdcdcd;
  font-family: 'Open Sans', sans-serif;
}
.news__wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 80px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.news h2 {
  font-size: 48px;
  text-align: center;
  margin: 0 0 80px;
  width: 100%;
  font-family: BebasNeue, sans-serif;
}
.news .post {
  width: 50%;
}
.news .post__date {
  display: inline-block;
  font-size: 11px;
  background-color: #65ba99;
  padding: 5px 20px;
  color: white;
  vertical-align: middle;
}
.news .post__tags {
  display: inline-block;
  vertical-align: middle;
  float: right;
  color: #e74c3c;
  font-size: 12px;
  font-style: italic;
  padding-left: 25px;
  background: url(../img/tag.png) no-repeat 0 100%;
}
.news .post__header {
  font-size: 16px;
  color: #65ba99;
}
.news .post__picture {
  height: 200px;
  background: grey;
  border-radius: 10px;
}
.news .post__text {
  font-size: 14px;
}
.news .post__link {
  color: #e74c3c;
  font-size: 14px;
  display: inline-block;
  float: right;
  padding-right: 40px;
  text-decoration: none;
  background: url(../img/arrow.png) no-repeat 80% 50%;
}
.news__aditional {
  width: 50%;
  box-sizing: border-box;
  padding-left: 80px;
}
.news__tags {
  margin-bottom: 60px;
}
.news__tags h5 {
  font-size: 18px;
  margin: 0;
  color: #65ba99;
  margin-bottom: 25px;
  font-family: BebasNeue, sans-serif;
}
.news__tags a {
  font-size: 14px;
  padding: 5px 10px;
  display: inline-block;
  background-color: #65ba99;
  color: white;
  margin: 0 5px 10px 0;
  text-decoration: none;
}
.news .from-blog h4 {
  font-size: 20px;
  color: grey;
  font-weight: normal;
  margin-bottom: 30px;
}
.news .from-blog h4 span {
  text-transform: uppercase;
  color: #4d4d4d;
}
.news .from-blog__item {
  margin-bottom: 20px;
}
.news .from-blog__picture {
  width: 70px;
  height: 70px;
  background: grey;
  border-radius: 5px;
  float: left;
}
.news .from-blog__text {
  font-size: 13px;
  margin: 0;
  padding-left: 90px;
}
.news .from-blog__date {
  font-size: 13px;
  color: #e74c3c;
  padding-left: 90px;
  margin: 0;
}
.sponsors {
  background: #bebebe;
}
.sponsors__wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 60px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.sponsors__item {
  width: 25%;
  height: 80px;
  background: no-repeat center;
}
.sponsors__item--canon {
  background-image: url(../img/sponsors/canon.png);
}
.sponsors__item--nikon {
  background-image: url(../img/sponsors/nikon.png);
}
.sponsors__item--manfrotto {
  background-image: url(../img/sponsors/manfrotto.png);
  background-size: contain;
}
.sponsors__item--prolight {
  background-image: url(../img/sponsors/prolight.png);
}
.bio {
  background: #e74c3c;
}
.bio__wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 80px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.bio__header {
  margin: 0;
  font-size: 48px;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}
.bio__left {
  width: 50%;
}
.bio__right {
  width: 50%;
  color: white;
}
.bio h3 {
  text-align: center;
  font-size: 36px;
  color: white;
  margin: 0;
  margin-bottom: 40px;
}
.bio h4 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.bio p {
  font-size: 14px;
  font-family: 'Open sans', sans-serif;
  margin-bottom: 15px;
}
.bio__picture {
  width: 230px;
  height: 230px;
  background: url(img/avatar.png) no-repeat center;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 45px;
}
.bio .social {
  margin: 0 138px;
}
.page-footer {
  color: white;
  text-align: center;
  background: #65ba99 url("../img/footer-bg.jpg") no-repeat center;
  background-size: cover;
}
.page-footer__wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 80px 0 40px;
}
.page-footer__header {
  margin: 0;
  color: black;
  font-size: 48px;
  margin-bottom: 70px;
}
.page-footer__phone {
  font-size: 48px;
  margin-bottom: 20px;
}
.page-footer__email {
  font-size: 60px;
  padding: 20px 120px;
  border: 6px solid white;
  margin-bottom: 20px;
}
.page-footer__address {
  font-size: 30px;
  margin-bottom: 120px;
}
.page-footer__copyright {
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
}
@font-face {
  font-family: BebasNeue;
  src: url("font/BebasNeue Regular.ttf");
}
